.login-wrapper {
  height: calc(100vh - 60px); /* 60px ارتفاع تقریبی Navbar */
  background-color: #f5f6fa;
  display: flex;
  justify-content: center;
  align-items: center;
  direction: rtl;
}

.login-box {
  background: #fff;
  width: 350px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
  padding: 20px;
}

.login-title {
  margin-bottom: 20px;
  text-align: right;
  font-weight: bold;
}

.login-box input {
  width: 100%;
  padding: 8px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.login-btn {
  width: 100%;
  padding: 10px;
  background: #28a745;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 1rem;
  cursor: pointer;
}

.login-btn:hover {
  background: #218838;
}
