.pagination-container {
  display: flex;
  justify-content: center;
  margin: 23px 0 40px 0;
  direction: rtl;
  font-family: Vazirmatn, Tahoma, sans-serif;
}

.page-btn {
    border-radius: 50%;
    width: 31px;
    height: 31px;

    background: #ffffff;
    color: #4f46e5;

    border: 1px solid #4f46e5;

    margin: 0 4px;
    cursor: pointer;

    transition: all 0.2s ease;

    font-weight: bold;
    font-size: 15px;
}

.page-btn:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 10px rgba(79, 70, 229, 0.35);
}

.page-btn.selected,
.page-btn:focus {
    background: linear-gradient(135deg, #6366f1 0%, #4f46e5 100%);
    color: #ffffff;
    border: none;
    outline: none;

    box-shadow: 0 4px 12px rgba(79, 70, 229, 0.45);
}

